body {
    padding: 20px;
    font-size: .8rem;
}

textarea {
    resize: none;
}

.card .card-header {
    font-size: 1.2rem;
}

section {
    margin-bottom: 20px;
}

.accounts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.accounts-list span {
    flex: 0 1 33%;
}

.accounts-list span {
    font-size: .8rem;
}

.progress-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255, 255, .7);
    z-index: 2;
}

.progress-body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.progress-body .progress {
    min-width: 50%;
}

.transaction {
    position: relative;
}

main {
    padding: 20px;
    border: 1px solid #ddd;
}