<template>
    <div class="accounts-list">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Address</th>
                    <th scope="col">ETH</th>
                    <th scope="col">Unlock</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(account, index) in accounts" :key=index>
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ account.address }}</td>
                    <td>
                        {{ format(account.eth) }}<br>
                        <a href="#" @click.prevent="getBalance(index, account.address)">GET</a>
                    </td>
                    <td><a href="#" @click.prevent="unlock(account.address)">Unlock</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Utils from '../utils';

    export default {
        props: ['accounts'],

        computed: {
            web3() {
                return this.$store.state.web3.inst;
            }
        },

        methods: {
            getBalance(index, address) {
                this.web3.eth.getBalance(address)
                .then(balance => {
                    this.$store.commit('setNewBalance', { index, balance });
                })
                .catch(Utils.errorHandler);
            },

            unlock(address) {
                this.web3.eth.personal.unlockAccount(address, '')
                .then(res => {
                    console.log(res);
                })
                .catch(Utils.errorHandler);
            },

            format(balance) {
                return this.web3.utils.fromWei(balance + "", 'ether');
            }
        }
    }
</script>