<template>
    <div class="contracts-list">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Param</th>
                    <th scope="col">Deploy</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(contract, index) in contracts" :key=index>
                    <td scope="row">{{ index + 1 }}</td>
                    <td>{{ contract.name }}</td>
                    <td><input v-model="contract.params" type="text" /></td>
                    <td><a href="#" @click.prevent="deploy(contract)">Deploy</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import SimpleContract from 'contracts/SimpleContract.json';
    import Utils from 'utils';

    export default {
        data() {
            return {
                contracts: [
                    {
                        data: SimpleContract,
                        name: 'SimpleContract',
                        params: null,
                     }
                ],
            }
        },

        computed: {
            web3() {
                return this.$store.state.web3.inst;
            }
        },

        methods: {
            deploy(contract) {
                console.log(SimpleContract);

                const simpleContract = new this.web3.eth.Contract(SimpleContract.abi);
                const deployer = this.$store.state.accounts.list[0].address;
                const params = contract.params ? contract.params : '';

                simpleContract.deploy({
                    data: SimpleContract.bytecode,
                    arguments: params ? params.split(',') : []
                })
                .send({ from: deployer, gas: 900000 })
                .on('transactionHash', hash => {
                    console.log('Hash:', hash);
                })
                .on('receipt', resp => {
                    console.log('Receipt:', resp);
                })
                .on('error', error => {
                    console.error('Send Error:', error);
                })
                .then(newContractInstance => {
                    newContractInstance.setProvider(this.web3.currentProvider);

                    this.$store.commit('addContract', {
                        name: 'SimpleContract',
                        address: newContractInstance._address,
                        instance: newContractInstance
                    });

                    console.log(newContractInstance);
                });
            }
        }
    }
</script>