<template>
    <div class="deployed-contracts-list">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Methods</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(contract, index) in deployedContracts" :key=index>
                    <td scope="row">{{ index + 1 }}</td>
                    <td>{{ contract.name }}</td>
                    <td>{{ contract.address }}</td>
                    <td>
                        <ul>
                            <li v-for="(method, index) in getContractMethods(contract)" :key=index>
                                {{ method }}
                                <button @click.prevent="send(contract, method)">SEND</button>
                                <button @click.prevent="call(contract, method)">CALL</button>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import SimpleContract from 'contracts/SimpleContract.json';
    import Utils from 'utils';

    export default {
        computed: {
            web3() {
                return this.$store.state.web3.inst;
            },
            deployedContracts() {
                return this.$store.state.contracts.list;
            }
        },

        methods: {
            getContractMethods(contract) {
                const contractMethods = Object.keys(contract.instance.methods);
                const methods = [];

                contractMethods.forEach((method) => {
                    if (method.substring(0, 2) !== '0x') {
                        methods.push(method);
                    }
                });

                return methods;
            },

            /**
             * Call is to be used for read only operation on blockchain
             */
            call(contract, method) {
                method = contract.instance.methods[method];

                method().call((error, result) => {
                    console.log(error, result);
                });
            },

            /**
             * Send is to be used for when on needs to alter blockchain state
             */
            send(contract, method) {
                method = contract.instance.methods[method];

                method().send({ from: this.$store.state.accounts.list[0].address })
                    .on('transactionHash', (txHash) => { console.log('TX HASH:', txHash) })
                    .then(console.log)
                    .catch(console.error);
            }
        }
    }
</script>